body{
	background-color: black;
	background-image: url("Images/mainbg(bw).jpg");
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
	font-size: 1.2em;
	margin: 20px 40px 0px 40px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	display: flex;
	flex-direction: column;
}

header { 
	background-image: url("Images/Banner.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	padding-bottom: 12%;
	min-width: 500px;
}

nav{
	text-align: center;
	padding: 10px 0;
}

nav ul {
	background: rgba(65 ,65 ,65, 0.7);
}

nav ul li{
	display: inline-block;
	color: rgba(65 ,65 ,65, 0.7);
	position: relative;
	padding: 0 12px 0 12px;
}

nav ul li.active {
	background-color: #bbb; 
 	padding: 10px;
	color:#000;
	font-weight: bold;
	text-shadow: none;
	text-decoration: underline;
}

nav ul li a{

	padding: 10px;
	display: block;
	text-decoration: none;
	color: #eee;
	font-size: 18px;
}

nav ul li :hover{
	background-color: #202020;
}

nav ul li :active{
	background-color: #fff;
}

#main {
	min-height: calc(65% - 150px);
	background-color: rgba(65, 65, 65, 0.7);
	border: solid #202020 5px;
	border-radius: 10px;
	padding: 1%;
	margin-bottom: 2%;
	flex-grow: 1;
}

footer {
	width: 100%;
	border-radius: 25px;
	background-color: #3f3f3f;
	color: white;
	position: relative;
	display: inline-block;
	font-size: 14px;
}

#footerLeft {
	width: 50%;
	padding: 12px 0px 12px 25px;
	float: left;
}

#footerRight{
	list-style: circle;
}

#footerRight li{
	display: inline-block;
	float: right;
	padding: 12px 25px 12px 0px;
}

#footerRight>li:before{
    content: "\2022";
    padding-right: 0.75em;
	font-size: 1.25em;
    position: relative;
	color: white;
}

#footerRight li a{
	color: white;
	text-decoration: none;
}

nav ul li ul{
	max-height:0em;
    overflow:hidden;
    position: absolute;
	background-color: rgba(65, 65, 65, 0.9);
    transition:max-height 0.8s ease;
}

nav ul li ul li{
	display: block;
/*     font-size: 12px; */
    border-bottom: none;
    width: 145px;
    color: #ffffff;
    padding-left: 0px;
    height: 34px;
    line-height: normal;
    position: relative;
    left: -20px;
	padding-bottom: 10px;
}

nav ul li ul li a{
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    height: auto;
    padding: 10px 5px;
    font-size: 14px;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
}

nav ul li:hover ul{
	max-height: 600px;
}

#Sil, #Prot {
	float: left;
	width: calc(40% - 30px);
}

#Prot {
	margin-left: 10%;
}

#Sil {
	margin-left: 5%;
}

#memberPhoto {
	float: left;
	margin-right: 15px;
	margin-bottom: 10px;
}

.album{
	display: inline-block;
	font-size: 16px;
	margin-left: 25px;
}

.albumart, .tracklist{
	float: left;
	width: calc(40% - 30px);
}

.albumart{
	margin-left: 15%;
	font-size: 12px;
	text-align: center;
}

.tracklist{
	margin-left: 5%;
}

.albumimg{
	cursor: pointer;
	transition: 0.3s;
	border-radius: 5px;
}

.albumimg:hover{
	opacity: 0.7;	
}


.content{
	clear: both;
}


/*---------------------------------------------------MODAL------------------------------------------------*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.8); 
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 600px;
}

#caption1, #caption2, #caption3, #caption4, #caption5, #caption6, #caption7, #caption8 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modal-content, #caption1, #caption2, #caption3, #caption4, #caption5, #caption6, #caption7, #caption8 { 
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

/*---------------------------------------------------MODAL------------------------------------------------*/

table, th, td {
    border: 3px solid black;
	border-collapse: collapse;
	font-weight: bold;
}

tr {	
background-color: #4f4f4f;
}

#sitemap{
	text-align: center;
}

#form{
	text-align: center;
}